In [16]:
# import packages
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import scipy.stats as st
from matplotlib import rcParams

In [43]:
df = pd.read_csv("../data/electric_vehicles.csv", sep=";", index_col=0)
df['City'] = df['City'].str.replace('\d+ ', '')
df

C:\Users\jchop\AppData\Local\Temp/ipykernel_30636/3581555687.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['City'] = df['City'].str.replace('\d+ ', '')

                     City  2017  2018  2019  2020  2021
Index
1         Aeugst am Albis     7     8    13    27    39
2      Affoltern am Albis    29    35    54    75   103
3              Bonstetten    18    21    29    37    70
4         Hausen am Albis    16    21    25    32    45
5                Hedingen    14    22    31    45    56
...                   ...   ...   ...   ...   ...   ...
6806         Vendlincourt     0     0     0     0     3
6807        Basse-Allaine     2     2     3     5     9
6808        Clos du Doubs     0     0     2     6     9
6809          Haute-Ajoie     0     0     1     1     2
6810           La Baroche     3     2     3     5     6

[2163 rows x 6 columns]

In [44]:
dv_ev_final = pd.read_excel("../data/excel.xlsx")
dv_ev_final

                   City  Count
0     Gondiswil Schweiz    1.0
1                Sattel    1.0
2               Steinen    3.0
3                Aadorf    2.0
4                 Aarau   16.0
...                 ...    ...
1113               Zuoz    2.0
1114             Zuzwil    3.0
1115           Zweidlen    1.0
1116         Zweisimmen    6.0
1117             Zürich   39.0

[1118 rows x 2 columns]

In [45]:
df = pd.merge(df, dv_ev_final, on="City")
df = df.dropna()
df

                   City  2017  2018  2019  2020  2021  Count
0    Affoltern am Albis    29    35    54    75   103    5.0
1            Bonstetten    18    21    29    37    70    2.0
2        Mettmenstetten    20    26    36    41    60    3.0
3              Obfelden    11    18    30    40    68    1.0
4               Adlikon     1     5     4     6    11    1.0
..                  ...   ...   ...   ...   ...   ...    ...
686          Montfaucon     1     1     1     3     4    1.0
687         Le Noirmont     0     1     1     3    12    3.0
688        Saignelégier     1     2     3     9    14    1.0
689          Porrentruy     7    10    15    29    49    3.0
690        Vendlincourt     0     0     0     0     3    1.0

[691 rows x 7 columns]

In [64]:
y = df['Count']
x = df.drop(columns = ['Count',"City"])

# with GLM (generalized linear model)
my_model = sm.OLS(y, sm.add_constant(x)).fit()

print(my_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Count   R-squared:                       0.410
Model:                            OLS   Adj. R-squared:                  0.406
Method:                 Least Squares   F-statistic:                     95.23
Date:                Thu, 24 Feb 2022   Prob (F-statistic):           3.98e-76
Time:                        18:20:40   Log-Likelihood:                -1930.8
No. Observations:                 691   AIC:                             3874.
Df Residuals:                     685   BIC:                             3901.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.6240      0.170      9.543      0.000       1.290       1.958
2017           0.0153      0.025      0.620      0.535      -0.033       0.064
2018           0.0075      0.015      0.508      0.612      -0.021       0.036
2019          -0.0103      0.023     -0.440      0.660      -0.056       0.036
2020          -0.1127      0.027     -4.175      0.000      -0.166      -0.060
2021           0.0941      0.011      8.428      0.000       0.072       0.116
==============================================================================
Omnibus:                      793.063   Durbin-Watson:                   2.095
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           106109.765
Skew:                           5.289   Prob(JB):                         0.00
Kurtosis:                      62.779   Cond. No.                         242.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [65]:
dfz = df.loc[df["City"] == "Zürich"]
dfz

      City  2017  2018  2019  2020  2021  Count
51  Zürich   815   940  1392  2036  3017   39.0

In [69]:
y2 = dfz['Count']
x2 = dfz.drop(columns = ['Count',"City"])

# with GLM (generalized linear model)
my_model = sm.OLS(y2, sm.add_constant(x2)).fit()

print(my_model.summary())

ValueError: resids must contain at least 2 elements